{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
   <!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">-->

    <script src='main.js'></script>

</head>

<body style="color:rgb(33, 70, 63); 
background-color: rgb(172, 224, 226); " >


  
    <h5> {{ user.first_name}} {{ user.last_name}} </h5>
    <h5> {{ user.email}}</h5>
    <a href= "{% url 'newsfeed' %}">News Feed</a>
    <li><a href="{% url 'view_feeds' %}">View Feeds</a></li>
    <li><a href="{% url 'view_users' %}">View Users</a></li>
    
        

</body>

</html>