<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="color:rgb(24, 41, 38); 
background-color: rgb(214, 207, 197);" >
    <div>
        {% for i in feed %}
        <div style="border: solid 1px;">
            {% for j in usr %}
                {% if j.pk == i.user.pk %}
                <p>User: {{j.first_name}}&nbsp;{{j.last_name}}</p>
                {%endif%}
            {%endfor%}
            <p>News Feed: {{i.description}}</p>
            <p>Date: {{i.date}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>